

.product-page-body h1 {
  font-size: 62px;
}

.product-page-body h2 {
  font-size: 30px;
}

.product-page-body h3 {
  font-size: 35px;
  font-weight: 600;
}

.product-page-body h4 {
  font-size: 30px;
  font-weight: 400;
}

.product-page-body h5 {
  font-size: 10px;
}

.product-page-body h6 {
  font-size: 20px;
  font-weight: 400;
}

.product-page-body h1, h2, h3, h4, h5, h6 {
  color: #282828;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(163, 110, 110, 0.01) 0 0 1px;
 }

.product-page-body table {
   font-size: 15px;
   font-weight: 100;
}

.desc {
  font-size: 18px;
}

.info {
  font-size: 20px;
  
}




