<div class="produits-acceuil">

    <div class="description-produits-acceuil">
        <h2>Livres</h2>
    </div>

    <div class="liste-des-livres-acceuil" aria-label="liste des livres acceuil" role="liste des livres">

        <div class="row">

            <div class="col-4">

                <div class="affiche-livre-acceuil">

                </div>

            </div>

            <div class="col-4">

                <div class="affiche-livre-acceuil" id="affiche-livre-acceuil-1">

                </div>

            </div>

            <div class="col-4">

                <div class="affiche-livre-acceuil" id="affiche-livre-acceuil-1">

                </div>

            </div>

        </div>

    </div>

    <div class="bouton-decouvrez-plus">
        <h2><span class="badge bg-dark"><a href="index.html">Affichez plus</a></span></h2>
    </div>

</div>