<app-header></app-header>
<div class="section">
  <div style="height: 150px;"></div>
  <div class="container">
      <div class="content-section">
          <div class="title">
              <h1>À propos de nous</h1>
          </div>
          <div class="about-section">
              <h3>Message du responsable du club</h3>
              <p aria-describedby="message du responsable du club">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium est deleniti, similique at debitis molestiae tempore enim quae? Enim cupiditate cumque corporis deserunt ut sapiente, ullam architecto ratione Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati ea placeat fugit quaerat maxime asperiores quas quia itaque ducimus deserunt. Magni non consectetur doloremque, corrupti velit vel excepturi repellat error. Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias nisi dignissimos cumque cupiditate suscipit, natus quaerat tenetur explicabo atque perferendis maxime quasi veritatis. Sunt nisi, placeat suscipit quod quas possimus.</p>
              <h5 class="card-text" aria-describedby="Adresse de la compagnie">Adresse: 201 Av. du Président-Kennedy, Montréal, QC H2X 3Y7<br aria-describedby="courriel de contact">Courriel: admin@uqam.ca</h5>

          </div>
      </div>

      <div class="image-section"><br>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/ucKrqVKcL1A"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" aria-describedby="video message du responsable du club"
              allowfullscreen></iframe>
      </div>
      <br>
      <br>
      <button type="button" routerLink="/contact" class="btn btn-dark btn-about-us" aria-describedby="bouton pour page de contact">Contactez-nous</button>

      <div style="height: 50px;"></div>
  </div>
</div>

<footer>
        
  <div layout="row" layout-align="center center" flex>
      <app-footer></app-footer>
  </div>
      
</footer>
