<button mat-icon-button [matMenuTriggerFor]="menu" #clickHoverMenuTrigger="matMenuTrigger" (click)="openMenu()" class="btn btn-primary">
    <mat-icon>account_circle</mat-icon>
    <mat-icon>arrow_drop_down</mat-icon>
</button>

<mat-menu #menu="matMenu" class="custom">
        <div class="menu">
            <button mat-menu-item class="btn btn-success option-menu" aria-describedby="page de connexion" (click)="openLoginComponent()"><a>Connexion</a></button>
            <button mat-menu-item class="btn btn-primary option-menu" aria-describedby="page d'inscription personnel" (click)="openInscriptionClientComponent()"><a>Inscription Personnel</a></button>
            <button mat-menu-item class="btn btn-primary option-menu" aria-describedby="page d'inscription ecole" (click)="openInscriptionEcoleComponent()"><a>Inscription Ecole</a></button>  
        </div>
</mat-menu>