<footer class="footer">
  <br><br>
  <div class="container" aria-label="Pied de page navigation" role="navigation" >
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="footer-about">
                <div class="footer-logo">
                    <a href="#"><img src="../../assets/images/img-general/logo-uqam.png" alt="Logo de l'UQAM"></a>
                </div><br>
                <p>Ce site a été développé dans le cadre du cours <a href="http://www.etudier.uqam.ca/cours?sigle=INF3190" aria-describedby="lien vers le cours">INF3190</a> de <a href="http://www.uqam.ca" aria-describedby="lien vers le site de l'UQAM">l'UQAM</a> et a été réalisé par <span><a
                            href="https://gitlab.info.uqam.ca/azzouzi.othmane" target="_blank" aria-describedby="lien vers le gitlab de Othmane Azzouzi">Othmane Azzouzi</a></span>.</p>
                <div>
                  <!--
                    <a class="banks_logo" href="" aria-describedby="logo de banque"><i class="fab fa-cc-visa"></i></a>
                    <a class="banks_logo" href="" aria-describedby="logo de banque"><i class="fab fa-cc-mastercard"></i></a>
                    <a class="banks_logo" href="" aria-describedby="logo de banque"><i class="fab fa-cc-amex"></i></a>
                    <a class="banks_logo" href="" aria-describedby="logo de banque"><i class="fab fa-cc-discover"></i></a>
                    <a class="banks_logo" href="" aria-describedby="logo de banque"><i class="fab fa-cc-paypal"></i></a>
                    -->
                </div>
            </div>
        </div>

        <div class="col-lg-2 offset-lg-1 col-md-1 col-sm-5">
            <div class="footer-widget">
                <h6>Liens Rapides</h6>
                <ul>
                    <li><a routerLink="/accueil" aria-describedby="page acceuil">Accueil</a></li>
                    <li><a routerLink="/accueil" aria-describedby="page livres">Livres</a></li>
                    <li><a routerLink="/club" aria-describedby="page club">Club</a></li>
                    <li><a routerLink="/contact" aria-describedby="page de contact">Contactez-nous</a></li>

                </ul>
            </div>
        </div>

        <div class="col-lg-2  col-md-3 col-sm-6">
            <div class="footer-widget">
                <h6>Compte</h6>
                <ul>
                    <li><a href="../html/inscription.html" aria-describedby="page créer un compte" (click)="openInscriptionClientComponent()">Créer un compte</a></li>
                    <li><a href="../html/connexion.html" aria-describedby="page connexion compte" (click)="openLoginComponent()">Connexion</a></li>
                    <li><a routerLink="/panier" aria-describedby="page panier">Mon panier</a></li>
                </ul>
            </div>
        </div>

        <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
            <div class="footer-widget" style="border-left: 100%;">
                <h6>S'inscrire a la newsletter</h6>
                <div class="footer-newslatter">
                    <p>Abonnez-vous pour recevoir des courriels sur nos meilleures aubaines.</p>
                    <form action="#">
                        <input type="text" placeholder="Adresse courriel">
                        <button type="submit"><span class="btn btn-danger" arial-hidden="true"
                                style="padding:7%;" aria-describedby="S'inscrire a la newsletter" (click)="vldMsg();">S'abonner</span>
                        </button>
                    </form>
                </div>

            </div>
        </div>


    </div>

    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="footer-copyright-text">
                <p>Copyright &copy; 2021 Tous droits reserves | Ce modele a ete developpe par des etudiants de
                    l'UQAM.</p>
            </div>
        </div>
    </div>
</div>
  
</footer>    

