<a href="" target="_blank">
  <header class="top-header">
</header>

<!--dust particel-->
<div>
  <div class="starsec"></div>
  <div class="starthird"></div>
  <div class="starfourth"></div>
  <div class="starfifth"></div>
</div>
<!--Dust particle end--->


<div class="lamp__wrap">
  <div class="lamp">
    <div class="cable"></div>
    <div class="cover"></div>
    <div class="in-cover">
      <div class="bulb"></div>
    </div>
    <div class="light"></div>
  </div>
</div>
<!-- END Lamp -->
<section class="error">
  <!-- Content -->
  <div class="error__content">
    <div class="error__message message">
      <h1 class="message__title">Page Erreur</h1>
      <p class="message__text">
        Nous sommes désolés, la page que vous cherchiez n'est pas trouvée ici. Le lien que vous avez suivi est peut-être rompu ou n'existe plus.</p>
    </div>
    
  </div>
  <!-- END Content -->

</section>

  </a>