<div class="card mb-4 shadow-sm">
  <img class="bd-placeholder-img card-img-top"  src="..\..\..\assets\images\images-produits\default-img.jpg">
  <div class="card-body">
    <h2 class="card-text">{{livreItem.titre}}</h2>
    <p class="card-text">{{livreItem.des}}</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-primary btn-sm" (click)="handleAddToCart()">Acheter cet article</button>
        <a routerLink="/product/{{livreItem.id}}" class="btn btn-sm btn-outline-secondary">plus de détails</a>
      </div>
      <strong>{{livreItem.prix | currency:'CAD'}}</strong>
      </div>
    </div>
  </div>